default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:
development:
  <<: *default
  database: application_development
test:
  <<: *default
  database: application_test
production:
  <<: *default
  database: application_production
